*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: rgb(192, 218, 215);
}
#container{
    width: 100vw;
    min-height: 100vh;
    height: auto;
    background-color: rgb(192, 218, 215);
}
#search_icon{
    position: absolute;
    right: 30px;
    top: 60px;
    z-index: 2;
    background-color: transparent;
    width: 30px;
}
#select_category{
    position: absolute;
    margin: 10px;
    width: 220px;
    z-index: 2;
    min-height: 300px;
    height: auto;
    background-color: rgb(222, 238, 236);
    top: 40px;
    padding: 20px;
    padding-top: 50px;
    right: 10px;
    display: none;
}
#close_icon{
    position: absolute;
    right: 20px;
    top: 10px;
    width: 20px;
}
#check_categories_btn{
    position: absolute;
    top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    padding: 4px;
    background-color: black;
    border: none;
    color: rgb(22, 163, 173);
}
.selections{
    background-color: rgb(22, 163, 173);
    font-size: 20px;
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 0 10px;
    border-radius: 7px;
}
.checkboxes{
    margin-left: auto;
    width: 20px;
    height: 20px;
    background-color: black;
}
#heading{
    width: 100vw;
    height: 150px;
    background-image: url("images\\bg-header-mobile.svg");

}
#lower_body{
    width: 100vw;
    height: 600px;
    padding-top: 10px;
}
#card{
    width: auto;
    margin: 15px ;
    background-color: white;
    height: auto;
    padding: 10px 0px;
    border-radius: 10px;
    margin-top: 50px;
}

#nojob_div{
    position: relative;
    width: auto;
    top: 400px;
    margin: 15px ;
    font-size: 20px;
    background-color: black;
    color: white;
    height: auto;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 20px;
    display: none;
    text-align: center;
}
.first_text{
    font-size: 25px;
    text-align: center;
    padding: 0;
}
#companyImage{
    top: -50px;
    left: 20px;
    position: relative;
}
#cardFirstLine,#jobDescription,#cardlastline{
    width: auto;
    height: 40px;
    position: relative;
    top: -40px;
    font-size: 16px;
    padding: 5px;
    margin: 5px 20px;
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
    align-items: center;
    font-weight: bolder;
    color: white;
}
#companyname{
    color: rgb(22, 163, 173);
}
#jobDescription{
    color: rgb(1, 48, 36);
    font-size: 19px;
}
hr{
    top: -40px;
    position: relative;
    margin: 10px 20px;
}
.emptyspace{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: grey;
}
#cardlastline{
    color: grey;
}
#companyname-TAGNew,#companyname-TAGFeatured{
    border-radius: 16px;
    background-color: rgb(22, 163, 173);
    padding: 5px 9px;
}
#companyname-TAGFeatured{
    background-color: rgb(7, 53, 53);
}
#tagsDiv{
    width: auto;
    height: auto;
    position: relative;
    top: -40px;
    font-size: 16px;
    padding: 5px;
    margin: 5px 20px;
    display: flex;
    flex-wrap: wrap;
    padding-right: 40px;
    font-weight: bolder;
}
.tags{
    padding: 5px 7px;
    background-color: rgb(179, 233, 215);
    color: rgb(22, 163, 173);
    margin: 10px 20px;
    margin-left: 0;
    width: auto;
    border-radius: 5px;
}

@media screen and (min-width:768px){
    #card{
        width: auto;
        margin: auto;
        margin: 15px ;
        background-color: white;
        height: auto;
        padding: 10px 10px;
        border-radius: 10px;
        display: flex;
        align-items: center;
    }
    #companyImage{
        top: 0px;
        left: 20px;
        position: relative;
        height: 100px;
    }
    #upper_div{
        width: auto;
        min-width: 400px;
        margin: 0 25px ;
        height: auto;
        padding: 10px 10px;
        border-radius: 10px;
        position: relative;
        top: 30px;
    }
    #tagsDiv{
        top: 0px;
        height: auto;
        margin-top: 0;
    }
    
    hr{
        top: -40px;
        position: relative;
        margin: 10px 20px;
        display: none;
    }
    #select_category{
        width: 300px;
        height: auto;
    }
    .selections{
        height: 40px;
        font-size: 20px;
    }
    .checkboxes{
        width: 25px;
        height: 25px;
    }
    .checkboxes:hover{cursor: pointer;}
    #check_categories_btn{
        font-size: 20px;
        padding: 10px;
    }
    #check_categories_btn:hover{
        cursor: pointer;
    }
    #nojob_div, .first_text{
        font-size: 30px;
    }
}

@media screen and (min-width:1280px) {
    #card{
        width: auto;
        margin: 15px ;
        background-color: white;
        height: auto;
        padding: 10px 10px;
        border-radius: 10px;
        display: flex;
        align-items: center;
    }
   
    #upper_div{
        width: auto;
        min-width: 500px;
        margin: 0 25px ;
        height: auto;
        padding: 10px 10px;
        border-radius: 10px;
        position: relative;
        top: 30px;  
    }
    #tagsDiv{
        top: 0px;
        height: auto;
    }
   .tags{
       margin: 10px 30px;
       font-size: 20px;
   }
   #companyname{
    color: rgb(22, 163, 173);
    font-size: 20px;
   }
    #jobDescription{
        color: rgb(1, 48, 36);
        font-size: 24px;
   }
   #select_category{
    width: 350px;
        height: auto;
    }
    .selections{
        height: 50px;
        font-size: 25px;
    }
    .checkboxes{
        width: 30px;
        height: 30px;
    }
    .checkboxes:hover{cursor: pointer;}
    #nojob_div,.first_text{
        font-size: 45px;
    }
}

@media screen and (min-width:1600px) {
    #card{
        width: 1600px;
        margin: 15px auto;
        background-color: white;
        height: auto;
        padding: 10px 10px;
        border-radius: 10px;
        display: flex;
        align-items: center;
    }
   
    #upper_div{
        width: auto;
        min-width: 500px;
        margin: 0 25px ;
        height: auto;
        padding: 10px 10px;
        border-radius: 10px;
        position: relative;
        top: 30px;  
    }
   
   .tags{
       margin: 0 30px;
       font-size: 23px;
   }
   #companyname{
    color: rgb(22, 163, 173);
    font-size: 23px;
   }
    #jobDescription{
        color: rgb(1, 48, 36);
        font-size: 27px;
   }
   #cardlastline{
       font-size: 18px;
   }
   #select_category{
       width: 400px;
       height: auto;
   }
   .selections{
       height: 50px;
       font-size: 25px;
   }
   .checkboxes{
       width: 30px;
       height: 30px;
   }
   .checkboxes:hover{cursor: pointer;}
   #nojob_div,.first_text{
    font-size: 60px;
   }
   .tags{
    margin: 10px 20px;
   }
}

